.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    width: 100px;
}

.button:hover,
.button:active {
    background-color: #2c0d00;
}